<?xml version="1.0" encoding="utf-8"?>
<MinMaxDefault xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <CurrentConfiguration>Confi_StiftHalter_universal_Test3</CurrentConfiguration>
  <CurrentNetwork />
  <IsAutoConnect>false</IsAutoConnect>
  <MachineName>DOPPELTE-LOTTE</MachineName>
  <ConnectionOption xsi:nil="true" />
  <CurrentScaffold>test</CurrentScaffold>
  <CurrentSequence>speed</CurrentSequence>
  <RunFiles />
  <ConfigPageSetup>v1925.333333333333;337.333333333333;631.333333333334;372.000000000001;469.379999999999</ConfigPageSetup>
  <ManuPageSetup>v1907.479995674623;377.314524555904;625.205479769474;313.802463258106;410.79724025974;515.543153625011</ManuPageSetup>
  <DaltonisationShader>v10;0;0;0;0;0</DaltonisationShader>
  <FontSizeFactor>1</FontSizeFactor>
  <Language>en</Language>
  <ManuPageHideInactive>false</ManuPageHideInactive>
  <ShowBirdViewAxes>true</ShowBirdViewAxes>
  <ShowBirdViewGrid>true</ShowBirdViewGrid>
  <BirdViewGridDistanceMicrometer>10000</BirdViewGridDistanceMicrometer>
  <BirdViewGridDistanceMarkerEveryNSteps>5</BirdViewGridDistanceMarkerEveryNSteps>
  <HideSlicer>false</HideSlicer>
</MinMaxDefault>